        <footer class="footer">
            <!-- Social Media - Footer -->
            <section class="footer_copy container">
                <div class="footer_social">
                    <a href="#" class="footer_icons">
                        <img src="/img/facebook.svg" alt="Facebook" class="footer_icon_img">
                    </a>
                    <a href="#" class="footer_icons">
                        <img src="/img/instagram.svg" alt="Instagram" class="footer_icon_img">
                    </a>
                    <a href="#" class="footer_icons">
                        <img src="/img/twitter.svg" alt="Twitter" class="footer_icon_img">
                    </a>
                </div>

                <h3 class="footer_copyright">Derechos Reservados &copy; Grupo 6</h3>
            </section>

        </footer>