        <header class="home">
        <nav class="nav container">
            <div class="nav_logo">
                <a href="/" class="nav_logo_link">
                    <img class="nav_logo_link_img" src="/img/icono.png" alt="Icon">
                </a>
                <h2 class="nav_title">
                    MusicWEB
                </h2>
            </div>
            <ul class="nav_link nav_link-menu">
                <li class="nav_items">
                    <a href="/" class="nav_links">Inicio</a>
                </li>
                <li class="nav_items">
                    <a href="../agregar" class="nav_links">Agregar Nueva Musica</a>
                </li>
                <li class="nav_items">
                    <a href="../mimusica" class="nav_links">Mi Lista Musical</a>
                </li>
        </nav>

    </header>